<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/secured/home/">Harshi Technical Services</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/secured/home/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/secured/attendance/">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/secured/users/">Users</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1> Detailed Attendance</h1>
        <br><br>
        <form method="post">
            <div class="form-group">
                <label for="month">Month Name</label>
                <select class="form-control" id="month" name="month">
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Submit" />
            </div>
        </form>
        <% if(show) { %>
            <% for(var key in info) { %>
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            <%= key %>
                        </h1>
                        <p> No of full working days :
                            <%= fulldays[key] %>
                        </p>
                        <p> No of half working days :
                            <%= halfdays[key] %>
                        </p>
                        <table class="table table-hover">
                            <thead>
                                <th>Date</th>
                                <th>Morning Time</th>
                                <th>Morning Image</th>
                                <th>Evening Time</th>
                                <th>Evening Image</th>
                                <th>Work</th>
                            </thead>
                            <tbody>
                                <% for(var k in info[key]) { %>
                                    <tr>
                                        <td>
                                            <%= k %>
                                        </td>
                                        <% if(info[key][k][key].Morning) { %>
                                            <td>
                                                <%= info[key][k][key].Morning.Time %>
                                            </td>
                                            <td><img src="<%= info[key][k][key].Morning.Image %>" width="100rem" height="100rem" alt="no image">
                                            </td>
                                            <% } %>
                                                <% if(info[key][k][key].Evening) { %>
                                                    <td>
                                                        <%= info[key][k][key].Evening.Time %>
                                                    </td>
                                                    <td>
                                                        <img src="<%= info[key][k][key].Evening.Image %>" width="100rem" height="100rem" alt="no image">
                                                    </td>
                                                    <td>
                                                        <%= info[key][k][key].Evening.Work %>
                                                    </td>
                                                    <% } %>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br>
                <% } %>
                    <% } %>
    </div>
    <br><br>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>